/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* header styles*/
header{
    background-color: #1A0B2E;
    min-width: 1265px;
    width: 100%;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    padding: 15px 150px;
}
.brand h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF;
}
.navbars ul{
    align-items: center;
    gap: 32px;
}
.navbars ul li{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.subscribe-button{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 16px;
    display: block;
}
#burger-menu{
  display: none;
}


/* banner styles */

@media screen and (max-width: 576px) {
    header{
        min-width: 440px;
    }
    .nav-container{
        padding: 10px 20px;
    }
    .brand h1{
        font-size: 1.25rem;
    }
    .subscribe-button, .navbars { display: none; }
    #burger-menu { display: block; }
}
