/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.display-flex{
    display: flex;
}
.sameh2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.sameh4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.samep{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 24px;
}
.samep-green{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}


/* header styles*/
header{
    background-color: #1A0B2E;
    min-width: 1265px;
    width: 100%;
}
.nav-container{
    align-items: center;
    justify-content: space-between;
    padding: 15px 150px;
}
.brand h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF;
}
.navbars ul{
    align-items: center;
    gap: 32px;
}
.navbars ul li{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
#burger-menu{
  margin-left: auto;
}
#burger-menu img{
  display: block;
  width: 20px;
  height: auto;
}
.subscribe-button{
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 16px;
    display: block;
}
#burger-menu{
  display: none;
}


/* banner styles */
main .banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 604px;
}
.hero-mic{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    aspect-ratio: 1 / 1;

    justify-content: center;
    align-items: center;
}
.hero-item{
    flex-direction: column;
    min-height: 558px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.new{
    width: 75px;
    height: 38px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 100px;
    left: 700px;
}
.new p{
    font-size: 1.2rem;
    font-weight: 600;
}
.title-button{
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.title-para{
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
.title-para p{
    color: #FFFFFF;
    font-size: 1rem;
}
.title-para h2{
    font-size: 2.25rem;
    color: #FFFFFF;
    font-weight: 800;
}
.hero-buttons{
    /* border: 2px solid yellow; */
    gap: 8px;
}
.spotify-btn, .sub2-btn{
    padding: 12px 20px;
}


/* about styles */
.about{
    background-color: #1A0B2E;
    justify-content: center;
}
.about-container{
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.about-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.about-info h2, .why-title h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}
.about-info p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
}
.info-para{
    padding: 0 200px;
    flex-direction: column;
    gap: 15px;
}
.about-line{
    width: 100%;
}
.about-line hr{
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
}
.stats{
    gap: 80px;
    margin-bottom: 120px;
}
.stat-card{
    flex-direction: column;
    align-items: center;
}
.stat-card h4{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.stat-card p{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
}
#rating-star{
    width: 20px;
}


/* why styles */
.why{
    background-color: #230E3D;
    padding: 120px 200px;
}
.why-container{
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.why-card{
    padding: 40px;
    background-color: #2A0F4D;
    border: none;
    border-radius: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.why-card h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.why-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.why-card:nth-child(1){
    grid-row: span 2;
}
.why-card:nth-child(2){
    grid-column: span 2;
}
.why-card:nth-child(3){
    grid-column: span 2;
}
.why-card:nth-child(4){
    grid-column: span 2;
}
.why-card:nth-child(5){
    grid-column: span 1;
}


/* episodes styles */
.episodes-host{
    background-color: #1A0B2E;
    padding: 120px 200px;
    flex-direction: column;
    gap: 120px;
}
.episodes-card{
    background-color: #250D44;
    border: none;
    border-radius: 30px;
    padding: 24px;
    max-width: 380px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.video-container{
    justify-content: center;
    gap: 30px;
}
.episodes-container{
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.card-media{
  margin: -24px -24px 16px;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}
.card-media iframe{
    border: none;
    width: 100%;
}
.episode-time{
    align-items: center;
    gap: 6px;
}

.host-container{
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.host-social{
    align-items: center;
    gap: 8px;
}
.host-social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2E90FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host-card{
    background-color: #250D44;
    border: none;
    border-radius: 30px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.host-info{
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
}

/* .host-pic{
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #2E90FF;
}
.host-pic img{
    width: 200px;
    height: 200px;
    display: block;
} */

.host-pic{
  width: 400px;
  border-radius: 50%;
  border: 1px solid #2E90FF;
}


.host-name h4{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) {
    header{
        min-width: 0;
    }
    .nav-container{
        padding: 10px 20px;
        justify-content: space-between;
    }
    .brand h1{
        font-size: 1.25rem;
    }
    .subscribe-button, .navbars { display: none; }
    #burger-menu {
        display: block; 
        padding-right: 0;
    }


    main .banner{
        min-height: 466px;
    }
    .hero-item{
        gap: 24px;
    }
    .hero-mic{
        width: 200px;
    }
    .hero-mic img{
        max-width: 80px;
    }
    .spotify-btn, .sub2-btn{
        padding: 12px 20px;
    }
    .title-para p{
        text-align: center;
        /* flex-wrap: wrap; */
    }
    .new{
        position: absolute;
        top: 120px;
        left: 200px;
    }


    .about-info{
        min-height: 207px;
    }
    .about-info h2, .why-title h2{
        font-size: 2rem;
    }
    .info-para{
        min-height: 152px;
        width: 100%;
        gap: 5px;
        padding: 0;
    }
    .stats{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        min-height: 207px;
        width: 100%;
        margin-bottom: 40px;
    }
    .stat-card h4{
        font-size: 2.5rem;
        margin: 0;
    }
    .about-container{
        gap: 40px;
        padding: 0 10px;
    }


    .why-info{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .why{
        padding: 40px 20px;
    }
    .why-container{
        gap: 16px;
    }
}
